<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook</title>
</head>
<body>
    <h1><center style="color: rgb(29, 41, 205);">FACEBOOK</center></h1>
    <h1><center> {{ a }}</center></h1>
    {% if a > b %}
        <h1> a is high</h1>
    {% elif b > c %}
        <h1> b is highest </h1>
    {% else %}
        <h1><center>c is high</center></h1>
    {% endif %}
</body>
</html>